.headerContainer {
    background-image: url('../images/headerSmall.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
}

.headerTitle {
    color: white;
    font-family: Averta;
    font-size: 54px;
    font-weight: bold;
}

.headerText {
    color: white;
    font-family: Averta;
    font-size: 24px;
    
}

.headerButton {
    color: #00adee;
    font-family: Averta;
    font-size: 14px;
    font-weight: 600;
    margin: none;
   border-radius: 0 !important;
}

.headerGroupRight {
    margin-top: 10em;
    margin-left: 10em;
}

.ivory-logo {
    width: 155px;
    height: 105px;
    
}

@media  (max-width: 1200px) {
    .headerContainer{
        height: 800px;
    }
    
    .headerGroupRight {
        margin-top: 10em;
        margin-left: 10em;
    }

    .headerText {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .headerTitle{
        font-size: 46px;
    }

    .headerText{
        font-size: 16px;
    }

    .headerGroupRight {
        margin-top: 10em;
        margin-left: 5em;
    }
}


@media (max-width: 600px) {
    .headerTitle {
        font-size: 32px;
        margin-left: -0.10em;
        
    }

    .headerText {
        font-size: 12px;
    }

    .headerGroupRight {
        margin-top: 5em;
        margin-left: 13em;
    }

    .headerContainer {
        height: 400px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .headerTitle{
        margin-left: -2.5em;
    }
    .headerGroupRight {
        margin-left: -6em;
    }
}

@media (max-width: 320px) {
    .headerTitle {
        font-size: 30px;
    }
    .headerGroupRight{
        margin-left: 10em;
    }
}