.wrapper{
    margin-right: 0.5em;
    margin-left: 0.5em;
    font-family: Averta;
    font-style: normal;
    font-stretch: normal;
    color: #394952;
}
.title {
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 0.5em;
}
.text {
    font-size:  14px;
    font-weight: 300;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
}
.bigTitle {
  font-size: 24px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  text-align: center;
}
.textFromTitle {
  font-size: 14px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 3em;
}
.image {
    width: 5.3em;
    height:6em;
}
.row {
    margin-bottom: 0.5em;
}
@media (min-width: 768px){
    .wrapper{
        margin-right: 4em;
    margin-left: 4em;
    }
}
@media (max-width: 766px){
.col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.title{
    text-align: center;
}
.image {
    display:block;
    margin:0 auto;
    width: 4.3em;
    height:5em;
}
.text {
    text-align: center;
}
.bigTitle{
    margin-right: 1em;
    margin-left: 1em;
}
.textFromTitle{
    margin-right: 0.7em;
    margin-left: 0.7em;
}
.wrapper {
    margin-right: 2em;
    margin-left: 2em;
}
}
@media (min-width: 1400px){
.container {
max-width: 1990px !important;
}
.wrapper {
    margin-right: 15em;
    margin-left: 15em;
}
}

