.developerWrapper {
  margin-right: 264px;
  margin-left: 270px;
  margin-top: 115px;
  margin-bottom: 200px;
}
.developerTitle {
  font-family: "Averta-Regular";
  font-size: 24px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  margin-bottom: 100px;
  color: #394952;
  width: 100%;
}
.imageD {
  display: block;
  margin: 0 auto;
  width: 78px;
  height: 75px;
}
.titleD {
  display: block;
  margin: 0 auto;
  font-family: "Averta-Regular";
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #394952;
  margin-top: 30px;
}
.teamPhoto {
  width: 230px;
  height: 230px;
  margin-top: 50px;
  margin-left: 30px;
}
.textD {
  font-family: "Averta-Light";
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #394952;
  margin-top: 93px;
  margin-left: 70px;
}
.textSpace {
  font-family: "Averta-Light";
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #394952;
  margin-top: 15px;
  margin-left: 70px;
}
.textSpaceReverse {
  font-family: "Averta-Light";
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #394952;
  margin-top: 15px;
}
.textDReverse {
  font-family: "Averta-Light";
  font-size: 18px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  text-align: left;
  color: #394952;
  margin-top: 93px;
}
.lineD {
  height: 3px;
  border: solid 1px #dedede;
  margin-bottom: 150px;
  margin-top: 150px;
}
@media (max-width: 575px) {
  .developerWrapper {
    margin-left: 10px;
    margin-right: 10px;
  }
  .developerTitle {
    font-size: 18px;
    width: 300px;
    display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .textD {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
  }
  .textDReverse {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
  }
  .textSpaceReverse {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .textSpace {
    display: block;
    margin: 0 auto;
    text-align: center;
  }
  .lineD {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .titleD {
    width: 300px;
    font-size: 18px;
    text-align: center;
  }
  .teamPhoto {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .developerWrapper {
    margin-left: 10px;
    margin-right: 10px;
  }
  .textD {
    margin-top: 30px;
    text-align: center;
    margin-left: 0px;
  }
  .textDReverse {
    margin-top: 30px;
    text-align: center;
    margin-left: 0px;
  }
  .textSpaceReverse {
    text-align: center;
    margin-left: 0px;
  }
  .textSpace {
    text-align: center;
    margin-left: 0px;
  }
  .lineD {
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .titleD {
    width: 300px;
    font-size: 18px;
    text-align: center;
  }
  .colMobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 100%;
  }
  .teamPhoto {
    margin-left: 140px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
    .developerWrapper {
        margin-left: 10px;
        margin-right: 10px;
      }
      .textD {
        margin-top: 30px;
        text-align: center;
        margin-left: 0px;
      }
      .textDReverse {
        margin-top: 30px;
        text-align: center;
        margin-left: 0px;
      }
      .textSpaceReverse {
        text-align: center;
        margin-left: 0px;
      }
      .textSpace {
        text-align: center;
        margin-left: 0px;
      }
      .lineD {
        display: block;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
      }
      .titleD {
        width: 300px;
        font-size: 18px;
        text-align: center;
      }
      .colMobile {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .col-sm-9 {
        flex: 0 0 75%;
        max-width: 100%;
      }
      .teamPhoto {
        margin-left: 220px;
      }
}
@media (min-width: 991px) and (max-width: 1350px) {
  .developerWrapper {
    margin-left: 10px;
    margin-right: 10px;
  }
  .teamPhoto {
    width: 210px;
    height: 210px;
  }
}
