.businessWrapper{
    margin-right: 240px;
    margin-left: 240px;
}
.businessTtile {
    font-family: 'Averta-Regular';
    font-size: 24px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin-bottom: 34px;
    margin-top: 115px;
    color: #394952;
    width:100%;
  }
  .businessText {
    font-family: 'Averta-Light';
    font-size: 18px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #394952;
    margin-bottom: 44px;
    width:100%;
}
.latestProjects {
    background-color: #00aeef;
    color:  #ffffff;
    font-family: 'Averta-Regular';
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin: none;
    border-radius: 0 !important;
    width: 208px;
    height: 50px;
}
.learnMore {
    background-color: #ffffff;
    color: #00aeef;
    font-family: 'Averta-Regular';
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    margin: none;
    border-radius: 0 !important;
    width: 156px;
    height: 10px;
}
.businessLine {
    width: 100%;
    height: 3px;
    border: solid 1px #dedede;
    margin-bottom: 100px;
    margin-top: 100px;
  }
.teamPhoto{
    width: 275px;
    height: 275px;
    margin-bottom: 28px;
}

 @media (max-width: 767px){
    .teamPhoto{
      width: 18em;
      height: 18em;
      margin-bottom: 28px;
    }
    .businessWrapper{
      margin-right: 1em;
      margin-left: 1em;
  } 
  .latestProjects {
    font-size: 14px;
    width: 150px;
  }
.learnMore {
    font-size: 14px;
    width: -15px;
}
#gr1d.col-md-4.col-sm-12{
display: flex;
justify-content: center
}
}

@media(min-width: 768px) and (max-width: 999px)  {
    .teamPhoto{
      width: 12em;
      height: 12em;
      margin-bottom: 28px;
    }
    .businessWrapper{
      margin-right: 1em;
      margin-left: 1em;
  } 
  #gr1d.col-md-4.col-sm-12{
    display: flex;
    justify-content: center
    }
   }  
   @media(min-width: 1000px) and (max-width: 1100px)  {
    .teamPhoto{
        width: 12em;
        height: 12em;
        margin-bottom: 28px;
      }
      .businessWrapper{
        margin-right: 200px;
    margin-left: 200px;
    } 
    #gr1d.col-md-4.col-sm-12{
      display: flex;
      justify-content: center
      }
   }
   @media(min-width: 1101px) and (max-width: 1400px)  {
    .teamPhoto{
        width: 15em;
        height: 15em;
        margin-bottom: 28px;
      }
      .businessWrapper{
        margin-right: 200px;
    margin-left: 200px;
    } 
    #gr1d.col-md-4.col-sm-12{
      display: flex;
      justify-content: center
      }
   }
 