.headerContainer {
    background-image: url('../../images/header_homepage-smallSized.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
    width: 100%;
    overflow: auto;
}

.navbar-mobile {
    display: none;
}

.headerTitle {
    color: white;
    font-family: Averta-regular;
    font-size: 52px;
    font-weight: bold;
}

.headerText {
    color: white;
    font-family: Averta-regular;
    font-size: 24px;
    
}

.headerButton {
    background-color: #ffffff;
    color: #00adee;
    font-family: Averta-Regular;
    font-size: 14px;
    font-weight: 600;
    margin: none;
    border-radius: 2px !important;
    width: 134px;
    height: 50px;
}

.headerGroupRight {
    margin-top: 10em;
    margin-left: 10em;
}

.ivory-logo {
    width: 155px;
    height: 105px;
    
}

.navigationButtons {
    text-decoration: none;
    font-family: Averta-Regular;
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.5em;
    margin-left: -1em;
}

.navigationButtons-contact {
    font-family: Averta-Regular;
    color: white;
    margin-top: 2.5em;
    margin-left: 3em;
}
.menuLinks {
    color: white;
}

.menuLinks:hover {
    text-decoration: none;
}
@media (min-width: 1430px){
    .headerContainer{
        height: 1000px;
    }
}
@media (min-width: 1366px){
    .headerTitle {
        margin-top: 3em;
    }
    .ivory-logo{
        margin-left: -8em;
    }

    .navigation-wrapper {
        display: inline-flex;
        margin-left: 33em;
    }
    .navigationButtons {
        
        font-size: 16px;
        margin-top: 3.5em;
        margin-left: 4em;
       
    }
    
    .navigationButtons-contact {
        font-size: 16px;
        margin-top: 3.5em;
        margin-left: 3em;
    
        
        
    }
}

@media (min-width: 1200px) and (max-width: 1366px) {
    .ivory-logo {
        margin-left: 0.5em;
    }

    .navigation-wrapper {
        display: inline-flex;
        margin-left: 28.5em;
    }

    .navigationButtons {
        font-size: 12px;
        margin-top: 3.5em;
        margin-left: 3em;
    }
    
    .navigationButtons-contact {
        font-size: 12px;
        display: flex;
        margin-top: 3.5em;
        margin-left: 10em;
    }
}

@media  (max-width: 1200px) {
    .headerContainer{
        height: 800px;
    }
    
    .headerGroupRight {
        margin-top: 10em;
        margin-left: 10em;
    }

    .headerText {
        font-size: 18px;
    }

    .navigation-wrapper {
        display: inline-flex;
        margin-left: 21em;
    }

    .navigationButtons {
        font-size: 12px;
        margin-top: 3.5em;
        margin-right: -2em;
        margin-left: 5em;
    }
    
    .navigationButtons-contact {
        font-size: 12px;
        margin-top: 3.5em;
        margin-left: 7em;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    .navigation-wrapper {
        display: inline-flex;
        margin-left: 10em;
    }
    .navigationButtons {
        font-size: 12px;
        margin-top: 3.5em;
        margin-left: 3.25em;
    }
    
    .navigationButtons-contact {
        font-size: 12px;
        margin-top: 3.5em;
        margin-left: 8em;
    }
}

@media (max-width: 768px) {

    .headerButton {
        width: 90px;
        height: 35px;
        font-size: 10px;
    }
    .navigation-wrapper {
        display: inline-flex;
        margin-left: 2em;

    }
    .ivory-logo{
        margin-left: -2em;
        width: 150px;
        height: 100px;
    }
    .headerTitle{
        font-size: 46px;
    }

    .headerText{
        font-size: 16px;
    }

    .headerGroupRight {
        margin-top: 10em;
        margin-left: 5em;
    }

    .navigationButtons {
        font-size: 10px;
        margin-top: 4.75em;
        margin-left: 3em;
        margin-right: 0em;
    }
    
    .navigationButtons-contact {
        font-size: 10px;
        margin-top: 4.75em;
        margin-left: 3em;
    }
}


@media (max-width: 600px) {

    
    .navigation-wrapper {
        display: inline-flex;
        margin-left: 1em;
    }
    
    .headerTitle {
        font-size: 32px;
        margin-left: -0.10em;
        
    }

    .headerText {
        font-size: 12px;
    }

    .headerGroupRight {
        margin-top: 5em;
        margin-left: 13em;
    }

    .headerContainer {
        height: 400px;
    }

    .ivory-logo {
        margin-left: 1em;
    }

}

@media (min-width: 576px) and (max-width: 767px) {

    .headerTitle{
        margin-left: -2.5em;
    }
    .headerGroupRight {
        margin-left: -6em;
    }


    


}

@media (min-width: 320px) and (max-width: 576px) {

    .navbar-mobile {
        display: inline-block;
        overflow: hidden;
        height: 86px;
        background-color: #00adee;
        width: 100%;
        position: fixed;
        z-index: 1;
    }

    .navigation-wrapper{
        display: none;
        margin-left: 1em;
    }
    .navigationButtons {
        font-size: 7px;
        display: none;
        font-family: Averta-bold;
        justify-content: space-evenly;
    }
    
    .navigationButtons-contact {
        font-size: 7px;
        font-family: Averta-bold;
        margin-left: 3em;
        display: none;
    }
    .mobile-ivory-logo {
        width: 135px;
        height: 87px;
        margin-left: 2em;
    }
}

@media (max-width: 320px) {
    

    .navigation-wrapper{
        display: inline-flex;
        margin-left: -1em;
    }

    .navigationButtons {
        font-size: 6px;
        margin-top: 5.5em;
    }

    .navigationButtons-contact {
        font-size: 6px;
        margin-top: 5.5em;
    }
    .headerTitle {
        font-size: 30px;
    }
    .headerGroupRight{
        margin-left: 10em;
    }

    
}