.headerContainer {
    background-image: url('../../images/headerSmall.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 800px;
}

.headerTitle {
    color: white;
    font-family: Averta-regular;
    font-size: 52px;
    font-weight: bold;
}

.headerText {
    color: white;
    font-family: Averta-regular;
    font-size: 24px;
    
}

.headerButton {
    background-color: #ffffff;
    color: #00adee;
    font-family: Averta-Regular;
    font-size: 14px;
    font-weight: 600;
    margin: none;
    border-radius: 0 !important;
}

.headerGroupRight {
    margin-top: 10em;
    margin-left: 10em;
}

.ivory-logo {
    width: 155px;
    height: 105px;
    
}

.navigationButtons {
    text-decoration: none;
    font-family: Averta-Regular;
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.5em;
    margin-left: -1em;
}

.navigationButtons-contact {
    font-family: Averta-Regular;
    color: white;
    display: flex;
    margin-top: 2.5em;
    margin-left: 3em;
}
.menuLinks {
    color: white;
}

.menuLinks:hover {
    text-decoration: none;
}

@media (min-width: 1366px){
    .ivory-logo{
        margin-left: -9em;
    }

    .navigationButtons {
        font-size: 16px;
        display: flex;
        justify-content: space-evenly;
        margin-top: 3.5em;
        margin-left: 0em;
        margin-right: 0em;
    }
    
    .navigationButtons-contact {
        font-size: 16px;
        display: flex;
        margin-top: 3.5em;
        margin-left: 6em;
    }
}

@media (min-width: 1200px) and (max-width: 1366px) {
    .ivory-logo {
        margin-left: 0.5em;
    }

    .navigationButtons {
        font-size: 12px;
        display: flex;
        justify-content: space-around;
        margin-top: 3.5em;
        margin-left: 4em;
    }
    
    .navigationButtons-contact {
        font-size: 12px;
        display: flex;
        margin-top: 3.5em;
        margin-left: 3em;
    }
}

@media  (max-width: 1200px) {
    .headerContainer{
        height: 800px;
    }
    
    .headerGroupRight {
        margin-top: 10em;
        margin-left: 10em;
    }

    .headerText {
        font-size: 18px;
    }

    .navigationButtons {
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        margin-top: 3.5em;
        margin-right: -2em;
        margin-left: 5em;
    }
    
    .navigationButtons-contact {
        font-size: 12px;
        margin-top: 3.5em;
        margin-left: 7em;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navigationButtons {
        font-size: 12px;
        display: flex;
        justify-content: space-evenly;
        margin-top: 3.5em;
        margin-left: -1em;
    }
    
    .navigationButtons-contact {
        font-size: 12px;
        margin-top: 3.5em;
        margin-left: 4em;
    }
}

@media (max-width: 768px) {
    .headerTitle{
        font-size: 46px;
    }

    .headerText{
        font-size: 16px;
    }

    .headerGroupRight {
        margin-top: 10em;
        margin-left: 5em;
    }

    .navigationButtons {
        font-size: 10px;
        display: flex;
        justify-content: space-between;
        margin-top: 4.75em;
        margin-left: -1em;
    }
    
    .navigationButtons-contact {
        font-size: 10px;
        margin-top: 4.75em;
        margin-left: 4em;
    }
}


@media (max-width: 600px) {
    .headerTitle {
        font-size: 32px;
        margin-left: -0.10em;
        
    }

    .headerText {
        font-size: 12px;
    }

    .headerGroupRight {
        margin-top: 5em;
        margin-left: 13em;
    }

    .headerContainer {
        height: 400px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .headerTitle{
        margin-left: -2.5em;
    }
    .headerGroupRight {
        margin-left: -6em;
    }
    

}

@media (min-width: 320px) and (max-width: 576px) {
    .navigationButtons {
        font-size: 7px;
        display: flex;
        font-family: Averta-bold;
        justify-content: space-evenly;
        margin-top: -5.5em;
        margin-left: 20em;
        margin-right: 5em;
    }
    
    .navigationButtons-contact {
        font-size: 7px;
        font-family: Averta-bold;
        display: flex;
        justify-content: flex-end;
        margin-top: -5.5em;
        
    }
    .ivory-logo {
        height: 70px;
        width: 100px;
}

@media (max-width: 320px) {
    }
    .headerTitle {
        font-size: 30px;
    }
    .headerGroupRight{
        margin-left: 10em;
    }

    
}