.containerLaunching{
    width:100%;
    height: 384px;
    background-color: #00adee;
    color: #ffffff;
}
@keyframes forceColor {
    from {
      padding: 8px;
      font-weight: 400;
      width: 200px;
    }
    to {
      padding: 8px;
      font-weight: 400;
      width: 200px;
    }
  }
  #mlb2-1071240.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow button  {
    animation: 1s linear infinite forceColor;
  }
  @keyframes check {
    from {
     text-align: left;
     padding: 0px;
    }
    to {
        text-align: left;
        padding: 0px;
    }
  }
  #mlb2-1071240.ml-form-embedContainer .ml-form-align-center {
    animation: 1s linear infinite check;
}
@keyframes alignCheck {
    from {
        margin: 0;
        padding: 0 0 0 0;
    }
    to {
        margin: 0;
    padding: 0 0 0 0;
    }
  }
#mlb2-1071240.ml-form-embedContainer .ml-form-embedWrapper .ml-form-embedBody .ml-form-formContent.horozintalForm {
    animation: 1s linear infinite alignCheck;
}
.h3Style{
    font-size: 30px;
    font-weight: 600;
    letter-spacing: -2px;
    text-align: center;
    margin-top: 121px;
    font-family: 'Averta-Regular';
}
@media (max-width: 767px){
    .h3Style{
        font-size: 15px;   
    }
    @keyframes submit {
        from {
          background-color: #394952;
          border-color:  #394952;
          width: 50%;
          font-weight: 400;
          font-size: 12px;
       
        }
        to {
          background-color: #394952;
          border-color:  #394952;
          width: 50%;
          font-weight: 400;
          font-size: 12px;
        }
      }
      .ml-mobileButton-horizontal button {
        animation: 1s linear infinite submit;
    }
}
 
  